.sign_content{
    min-height: 80vh;
}

.sign_btn{
    background: #008080 !important;
    color: #fff !important;
}

.section_description a{
    color: #f9a826;
}

.section_description a:hover{
    color: #f9a826 ;
    
}
.eye_content i{
    font-size: 1rem;
    color: #008080;
}

 .auth_input{
     
     padding: 8px !important;
}



@media only screen and (max-width:922px) {
    .account_route p {
        text-align:center !important;
    }
}