.payment label{
    font-weight: 600;
    color: #008080;
}

.payment button{
    padding: 8px 15px;
    border-radius: 5px;
    background: #008080;
    color: #fff;
    border: none;
    outline: none;
}